.messages{
    height: 100%;
    width: 100%;
}
.messages__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex-direction: column;

}